### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
# Exclude everything inside mountpoint but keep the folder
/mountpoint/*
/src/mountpoint/*

# Allow the mountpoint folders to be tracked
!/mountpoint/
!/src/mountpoint/
/src/Client.class
/src/ClientRunner.class
/src/Client$FS_Exception.class
/src/InitializeFS.class
/src/ZFS_FS.class
